In [1]:
%run setup

In [3]:
df = pd.read_csv('Lead Analyst Take-Home Data.csv').drop_duplicates()

In [5]:
df.head()

,TIME,EVENT_NAME,MOVE_ID,DATA
0,2020-12-10T20:20:16Z,home_services.schedule_installation.viewed,7650837.0,"{\n ""message"": {\n ""event"": {\n ""clie..."
1,2020-12-16T17:38:11Z,mover.experiment.tracked,7671088.0,"{\n ""variant"": ""control""\n}"
2,2020-12-16T16:00:13Z,home_services.browse_offers.viewed,7670244.0,"{\n ""message"": {\n ""event"": {\n ""clie..."
3,2020-12-04T00:00:00Z,home_services.order.placed,7632724.0,"{\n ""revenue"": 143\n}"
4,2020-12-15T19:54:16Z,promotions.promotion.claimed,7668295.0,"{\n ""message"": {\n ""event"": {\n ""deta..."

In [7]:
df.loc[:,['DATA']]

                                                    DATA
0      {\n  "message": {\n    "event": {\n      "clie...
1                           {\n  "variant": "control"\n}
2      {\n  "message": {\n    "event": {\n      "clie...
3                                 {\n  "revenue": 143\n}
4      {\n  "message": {\n    "event": {\n      "deta...
...                                                  ...
90080  {\n  "message": {\n    "event": {\n      "clie...
90081  {\n  "message": {\n    "event": {\n      "deta...
90082  {\n  "message": {\n    "event": {\n      "clie...
90083  {\n  "message": {\n    "event": {\n      "clie...
90084  {\n  "message": {\n    "event": {\n      "clie...

[90085 rows x 1 columns]

In [34]:
re.sub('\\n','',df['DATA'][600])

'{  "message": {    "event": {      "details": {        "move": {          "createdAt": "2020-12-14T14:33:15.000Z",          "date": "2021-01-08",          "fromAddress": {            "city": "Arlington",            "postalCode": "22203",            "state": "VA",            "street": "900 N Stuart St",            "unit": "518"          },          "id": "7662810",          "toAddress": {            "city": "Arlington",            "ownership": "rent",            "postalCode": "22203",            "state": "VA",            "street": "900 N Stuart St",            "unit": "310"          },          "updatedAt": "2020-12-14T14:33:17.000Z"        },        "promotion": {          "categories": null,          "entity": {            "id": "7012",            "parentId": "",            "type": "business_partner"          },          "id": "25",          "ownerId": "7012"        }      },      "domain": "promotions",      "object": "promotion",      "timestamp": 1607958032149,      "user": {        "email": "mwilliams@reese.law",        "moveId": "7662810",        "test": false,        "uuid": "f95f32f6-3a12-4372-8201-9b2a2e760abe"      },      "verb": "claimed"    }  },  "message_id": "00c0d5b4-3783-4b4a-afc4-41ff089dab04",  "timestamp": "2020-12-14 15:00:32.000 Z",  "type": "event.eventstream.promotions.promotion.claimed"}'

In [27]:
df_rep = df.copy()
for i in range(0,len(df)):
    df_rep.loc[i,['DATA']] = re.sub('\\n','',df['DATA'][i])

TypeError: expected string or bytes-like object

In [35]:
df_rep.head()

,TIME,EVENT_NAME,MOVE_ID,DATA
0,2020-12-10T20:20:16Z,home_services.schedule_installation.viewed,7650837.0,"{ ""message"": { ""event"": { ""clientSess..."
1,2020-12-16T17:38:11Z,mover.experiment.tracked,7671088.0,"{ ""variant"": ""control""}"
2,2020-12-16T16:00:13Z,home_services.browse_offers.viewed,7670244.0,"{ ""message"": { ""event"": { ""clientSess..."
3,2020-12-04T00:00:00Z,home_services.order.placed,7632724.0,"{ ""revenue"": 143}"
4,2020-12-15T19:54:16Z,promotions.promotion.claimed,7668295.0,"{ ""message"": { ""event"": { ""details"": ..."

In [36]:
len(df_rep)

90085

In [49]:
import json

In [62]:
json.loads(df_rep['DATA'].to_string())

JSONDecodeError: Extra data: line 1 column 10 (char 9)

In [61]:
pd.json_normalize(json.loadsdf_rep['DATA'].to_list())

AttributeError: 'str' object has no attribute 'values'

In [23]:
pd.read_json(df_rep['DATA'][1], lines=True)

ValueError: Expected object or value

In [ ]:
pd.json_normalize(DATA)

In [ ]:
j_d = pd.read_json(DATA)

In [ ]:
import ast
with open('Lead Analyst Take-Home Data.csv') as fi:
    data=fi.readlines()
cleaned = []
for da in data:
    l = da.strip("[").strip('\n').strip(']').split(', {')
    for a in l:
            pre=''
            if not a.startswith("{"):
                pre='{'
            cleaned.append(ast.literal_eval(pre+a))
df = pd.DataFrame(cleaned)

In [ ]:
reg_ex_replace(df_data)

In [ ]:
#read in df from csv
df = pd.read_csv(csv_file).drop_duplicates()
df_data= df['DATA']

In [ ]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [ ]:
df_data = pd.DataFrame(df['DATA'])

In [ ]:
df_data.head()

In [ ]:
flatten_json(df_data)

In [ ]:
df = pd.read_json(df_data, lines=True)

In [ ]:
df.head()

In [ ]:
df_j = pd.read_json(df['DATA'].to_json(),typ='series')

In [ ]:
df_j.head()

In [ ]:
help(pd.read_json)

In [ ]:
df_data  = pd.DataFrame(pd.read_json(df['DATA'].to_json(), lines=True))

In [ ]:
pd.read_json(csv_file)

In [ ]:
raw_json = pd.read_json('sample.json', lines=True)
raw_json.set_index('index', inplace=True)

with open('sample.json') as f:
    lines = f.readlines()
    exploded_columns = pd.concat([json_normalize(loads(l), 'unnecessaryList', 'index').pivot(index='index', columns='colName', values='value') for l in lines])

data = pd.merge(raw_json[['a', 'b']], exploded_columns, left_index=True, right_index=True)

In [ ]:
df=df['DATA'].to_dataframe()

In [ ]:
result = pd.json_normalize(df_j)

In [ ]:
pd.json_normalize(df['DATA'].apply(json.loads))

In [ ]:
import ast
from pandas.json import json_normalize

def only_dict(d):
    '''
    Convert json string representation of dictionary to a python dict
    '''
    return ast.literal_eval(d)

def list_of_dicts(ld):
    '''
    Create a mapping of the tuples formed after 
    converting json strings of list to a python list   
    '''
    return dict([(list(d.values())[1], list(d.values())[0]) for d in ast.literal_eval(ld)])

A = json_normalize(df['columnA'].apply(only_dict).tolist()).add_prefix('columnA.')
B = json_normalize(df['columnB'].apply(list_of_dicts).tolist()).add_prefix('columnB.pos.')

In [ ]:
df_data_normal = pd.json_normalize(df_data.to_json())

In [ ]:
json.dumps(df['DATA'])

In [ ]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [ ]:
flat = flatten_json(df_data_normal)
pd.json_normalize(flat)

In [ ]:
df.info()

In [ ]:
df.head(10)

In [ ]:
#pandas df aggs
subscribers_df = df[df['subscribed'] == 1].groupby('metro_area').agg(
    subscribers=pd.NamedAgg(column='subscribed', aggfunc=sum))
subscribers_df['subscriber_share'] = subscribers_df['subscribers']/subscribers_df['subscribers'].sum()
subscribers_df.sort_values(by='subscriber_share', ascending=False)

In [ ]:
#pandas df aggs
subscribers_df = df.groupby('metro_area').agg(
    subscriber_rate=pd.NamedAgg(column='subscribed', aggfunc=np.mean),
    subscribers=pd.NamedAgg(column='subscribed', aggfunc=sum)).sort_values('subscribers', ascending=False)

In [ ]:
display(subscribers_df)

In [ ]:
#summary stats
df.describe()

In [ ]:
#sql operations on pandas. pandas df <-> sql <-> pandas df

conn = sqlite3.connect("Temp.db") 
#df.to_sql('ss', conn, if_exists='replace')

sql_string = '\
SELECT services_decile, sum(subscribed) as subscribers, avg(subscribed) as subscription_rate, count(subscribed) as trialers \
FROM df_buckets \
group by services_decile'
sql_result_1 = pd.read_sql(sql_string, conn)
display(sql_result_3)

In [ ]:
#kde services add

df.to_sql('df', conn, if_exists='replace')

statements = ['drop table if exists df_buckets',
'create table df_buckets as \
Select t1.*, \
ntile(10) over (order by services_added ASC) as services_decile, \
ntile(10) over (order by client_bookings ASC) as bookings_decile, \
ntile(10) over (order by clients_booked ASC) as clients_decile \
from \
df as t1 \
',]


for statement in statements:
    conn.execute(statement)

df_buckets = pd.read_sql('select * from df_buckets', conn)

In [ ]:
# conn.execute('drop table state_data_coded')

In [ ]:
display(df_buckets.sort_values(by=['services_decile'], ascending=False))

In [ ]:
#basic scatter
sql_result.plot(kind='bar',x='services_added_percentile_rank',y='subscription_rate',color='blue')

In [ ]:
sql_result_1.plot(kind='bar',x='services_decile',y='subscription_rate',color='blue')

In [ ]:
sql_result_2.plot(kind='bar',x='clients_decile',y='subscription_rate',color='blue')

In [ ]:
sql_result_3.plot(kind='bar',x='bookings_decile',y='subscription_rate',color='blue')

In [ ]:
df.plot(kind='bar',x='services_percentile',y='pro_bookings',color='blue')

In [ ]:
#statsmodels OLS reg
lin_reg = sm.OLS(df['pc_change'],df['pr_change']).fit()

In [ ]:
import seaborn as sns
sns.regplot(x='pr_change', y='pc_change', data=df)

In [ ]:
print (lin_reg.summary())

In [ ]:
import statsmodels.api as sm

model = sm.OLS(df.subscribed, sm.add_constant(df.services_added))
p = model.fit().params

# x-values for regression line
x = np.arange(1, 80)

ax = df.plot(x='services_added', y='subscribed', kind='scatter')
ax.plot(x, p.const + p.services_added * x)
ax.set_xlim([0, 100])

In [ ]:
import seaborn as sns
sns.regplot(x='pr_change', y='pc_change', data=df)

In [ ]:
sns.kdeplot(df.clients_booked, df.subscribed)

In [ ]:
sns.lmplot(x="clients_booked", y="subscribed", data=df,
           y_jitter=.1);

In [ ]:
pandas.crosstab()

In [ ]:
kde_violin_df = df
#kde_violin_df['subscribed'] = kde_violin_df['subscribed'].replace(to_replace=0, value=-1)
kde_violin_df['services_percentile'] = kde_violin_df['services_added'].rank(pct=True)
kde_violin_df['cbookings_percentile'] = kde_violin_df['client_bookings'].rank(pct=True)
kde_violin_df['pbookings_percentile'] = kde_violin_df['pro_bookings'].rank(pct=True)
kde_violin_df['clients_percentile'] = kde_violin_df['clients_booked'].rank(pct=True)

In [ ]:
kde_violin_df.info()

kde_violin_df.head(50)

In [ ]:
sns.violinplot(x="subscribed", y="services_percentile", data=kde_violin_df);

In [ ]:
sns.violinplot(x="subscribed", y="services_percentile", data=kde_violin_df);

In [ ]:
sns.violinplot(x="subscribed", y="pbookings_percentile", data=kde_violin_df);

In [ ]:
sns.violinplot(x="subscribed", y="cbookings_percentile", data=kde_violin_df);

In [ ]:
sns.violinplot(x="subscribed", y="clients_percentile", data=kde_violin_df);

In [ ]:
df.plot(kind='scatter',x='client_bookings',y='services_added',color='red')

In [ ]:
import seaborn as sns
sns.regplot(x='clients_booked', y='subscribed', data=df)

In [ ]:
print (lin_reg.summary())

In [ ]:
state_encoded.plot(kind='scatter',x='rep_coded',y='openness',color='red')

In [ ]:
state_encoded.plot(kind='scatter',x='dem_coded',y='openness',color='red')

In [ ]:
state_encoded.plot(kind='bar',x='state_code',y='openness',color='red')

In [ ]:
lin_reg = sm.OLS(state_encoded['openness'], state_encoded['rep_coded']).fit()

In [ ]:
print (lin_reg.summary())

In [ ]:
state_encoded.head()

In [ ]:
#pandas df aggs
state_encoded[state_encoded['rep_coded'] == 1].groupby('psychRegions').agg(
    max_extraversion=pd.NamedAgg(column='extraversion', aggfunc=max),
    min_extraversion=pd.NamedAgg(column='extraversion', aggfunc=min),
    avg_conscientiousness=pd.NamedAgg(column='conscientiousness', aggfunc=np.mean))

In [ ]:
#reg ex replace
state_encoded['psychRegions'] = state_encoded['psychRegions'].replace(to_replace='Friendly', value='Angry',regex=True)

In [ ]:
display(state_encoded)

In [ ]:
statedata_ts = pd.read_csv('StateData_ts.csv')
#exclude last n columns from df
# .iloc[:,:-2]

In [ ]:
display(statedata_ts)

In [ ]:
statedata_ts.to_sql('statedata_ts',conn, if_exists='replace')

In [ ]:
#Scripting SQL


statements = ['drop table if exists statedata_dates',
'create table statedata_dates as \
select \
t1.*,\
strftime("%m", t1.ts) as month,\
strftime("%Y-%m-%d", t1.ts) as date, \
strftime("%d", t1.ts) as day, \
strftime("%H", t1.ts) as hour \
from \
statedata_ts as t1']

for statement in statements:
    conn.execute(statement)

In [ ]:
statedata_dates = pd.read_sql('select * from statedata_dates', conn)
display(statedata_dates[statedata_dates.columns[-4:]])

In [ ]:
#sql date diffs, date trunc for time series aggs (sum/avg over week, hour, etc)
#lag and window function in pandas dataframe

In [ ]:
#pandas add column for cumulative sum
statedata_dates_group_by = statedata_dates.groupby(['ts']).cumsum()

In [ ]:
statedata_dates_group_by.head()